---
component: tsfh
---
<div class="background-none folio">
  <div class="container theme-showcase flex-container">
    <div><img src="/assets/images/tallshipsfairportharbor.png" alt="Tall Ships Fairport Harbor"></div>
    <div>
      <h2 class="text-center"><a href="http://www.tallshipsfairportharbor.com/">Tall Ships Fairport Harbor</a></h2>
      <p>The Tall Ships Fairport Harbor website is a fully responsive website built using
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
          <li>CraftCMS</li>
        </ul>
      </p>
    </div>
  </div>
</div>
